body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body #page {
    background: black;
    padding: 0;
    width: auto;
    z-index: 3;
}

a {
    text-decoration: none;
    outline: none;
}

a:active {
    background: none;
}

img {
    border: none;
}


/*--------FONTS--------*/

@font-face {
    font-family: 'audiowide-regular-webfont';
    src: url('../fonts/audiowide-regular-webfont.eot');
    src: url('../fonts/audiowide-regular-webfont.woff') format('woff'), url('../fonts/audiowide-regular-webfont.ttf') format('truetype'), url('../fonts/audiowide-regular-webfont.svg') format('svg');
}

#header {
    margin: 0;
    min-height: 60px;
    padding: 0;
    width: auto;
    background-color: red;
}

#header div {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 60px;
    padding: 0 10px;
}

#header div a.logo {
    display: block;
    float: left;
    height: 60px;
    margin: 0 44px 0 0;
    padding: 0;
    width: 200px;
}

#header div a img {
    display: block;
    margin: 0;
    padding: 0 0 0 30px;
    width: 60px;
    height: 60px;
}

#header div ul {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#header div ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

#header div ul li a {
    color: black;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 59px;
    margin: 0;
    min-height: 60px;
    padding: 0 24px;
    *padding: 0 23px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

#header div ul li a:hover {
    background-color: #000000;
    color: white;
}

#header div #navigation .selected a {
    background-color: black;
    color: white;
}

#header div ul li.menu {
    position: relative;
}

#header div ul li.menu ul {
    display: block;
    left: -9999px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 142px;
    z-index: 50;
}

#header div ul li.menu:hover ul.primary {
    left: 31px;
}

#header div ul li.menu ul li {
    margin: 0;
    padding: 0;
    width: auto;
}

#header div ul li.menu ul li a {
    background-color: red;
    color: black;
    display: block;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    min-height: 60px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

#header div ul li.menu ul li a:hover {
    background-color: black;
    color: white;
}

#body .header div a.more {
    background-color: red;
    color: black;
    display: block;
    float: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    height: 49px;
    line-height: 49px;
    margin: auto;
    padding-bottom: auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 180px;
}

#body .header div a.more:hover {
    background-color: black;
    color: #ffffff;
}

#body .header div #fvid {
    width: auto;
    margin: 20px;
    padding-top: autox;
}

#body .header div #fvid h3 {
    color: white;
    float: center;
    font-family: audiowide-regular-webfont;
    font-size: 40px;
    margin: 10px 0 0 10px;
    min-height: 27px;
    padding: 20px auto 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    display: flex;
    justify-content: center;
}

#body .header div #fvid .videos {
    margin: 50px 0 50px;
    padding: 20px 0 50px;
    display: block;
    border-bottom: solid;
    border-color: gray;
    border-width: 0.5px;
}

#body .header div #fvid .videos#last {
    margin: 50px 0 50px;
    padding: 20px 0 50px;
    display: block;
    border-bottom: solid;
    border-color: white;
    border-width: 2px;
}

#body .header div div iframe {
    float: left;
    display: inline;
    padding-right: 20px;
}

#body .header div #fvid .videos .more {
    padding-left: 50px;
}

#body .header div #fvid .videos .more .author {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: red;
}

#body .header div #fvid .videos .more .infomation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: white;
}

#body .header div #fvid .videos .more .views {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

#page #footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

#footer {
    background-color: #a3a3a3;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#page #footer div {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: auto;
    display: flex;
    flex-direction: row;
    height: auto;
}

#page #footer div h1 {
    color: #FFFFFF;
    float: left;
    font-family: audiowide-regular-webfont;
    font-size: 22px;
    font-weight: normal;
    line-height: 23px;
    margin: auto;
    padding: auto;
    text-align: left;
    text-transform: uppercase;
    width: 480px;
}

#page div#footer div div {
    float: left;
    margin: auto;
    overflow: visible;
    padding: auto;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

#page #footer div div a img {
    width: 40px;
}

#body .header div {
    margin: 0 auto;
    max-width: 1000px;
    overflow: roll;
}

#wix {
    max-width: 800px;
}

#wix a img {
    width: 100%
}