body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body #page {
    background: url("../images/bg_pic.jpg") no-repeat scroll center top black;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
    z-index: 3;
}

a {
    text-decoration: none;
    outline: none;
}

a:active {
    background: none;
}

img {
    border: none;
}


/*--------FONTS--------*/

@font-face {
    font-family: 'audiowide-regular-webfont';
    src: url('../fonts/audiowide-regular-webfont.eot');
    src: url('../fonts/audiowide-regular-webfont.woff') format('woff'), url('../fonts/audiowide-regular-webfont.ttf') format('truetype'), url('../fonts/audiowide-regular-webfont.svg') format('svg');
}


/*----------------------------------------header-styles---------------------------------------*/

#header {
    margin: 0;
    min-height: 60px;
    padding: 0;
    width: auto;
    background-color: red;
}

#header div {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 60px;
    padding: 0 10px;
}

#header div a.logo {
    display: block;
    float: left;
    height: 60px;
    margin: 0 44px 0 0;
    padding: 0;
    width: 200px;
}

#header div a img {
    display: block;
    margin: 0;
    padding: 0 0 0 30px;
    width: 60px;
    height: 60px;
}

#header div ul {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#header div ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

#header div ul li a {
    color: black;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 59px;
    margin: 0;
    min-height: 60px;
    padding: 0 24px;
    *padding: 0 23px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

#header div ul li a:hover {
    background-color: #000000;
    color: white;
}

#header div #navigation .selected a {
    background-color: black;
    color: white;
}

#header div ul li.menu {
    position: relative;
}

#header div ul li.menu ul {
    display: block;
    left: -9999px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 142px;
    z-index: 50;
}

#header div ul li.menu:hover ul.primary {
    left: 0px;
}

#header div ul li.menu ul li {
    margin: 0;
    padding: 0;
    width: auto;
}

#header div ul li.menu ul li a {
    background-color: red;
    color: black;
    display: block;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    min-height: 60px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

#header div ul li.menu ul li a:hover {
    background-color: black;
    color: white;
}


/*----------------------------------------body-home-styles---------------------------------------*/

#body {
    background-color: none;
    margin: 0;
    min-height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#body {
    background: none;
    margin: 0;
    min-height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#body .header {
    background: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#body .header div {
    margin: 0;
    max-width: auto;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

#body .header .contact h1 {
    color: white;
    display: block;
    font-family: audiowide-regular-webfont;
    font-size: 40px;
    font-weight: normal;
    line-height: 23px;
    margin: 0 auto;
    padding: 50px 0 20px;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

#body .header .contact h2 {
    color: #A3A3A3;
    display: block;
    font-family: audiowide-regular-webfont;
    font-size: 23px;
    font-weight: normal;
    line-height: 23px;
    margin: 0 auto;
    padding: 8px 0 50px;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

#body .header div form {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 461px;
}

#body .header div form input {
    background-color: #A3A3A3;
    border: medium none;
    color: black;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    height: 43px;
    line-height: 43px;
    margin: 0 0 29px;
    padding: 0 0 0 20px;
    text-align: left;
    text-transform: uppercase;
    width: 441px;
}

#body .header div form textarea {
    background-color: #A3A3A3;
    border: medium none;
    color: #000000;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    height: 98px;
    line-height: 24px;
    margin: 0 0 31px;
    overflow: auto;
    padding: 15px 0 0 20px;
    resize: none;
    text-align: left;
    text-transform: uppercase;
    width: 441px;
}

#body .header div form input#submit {
    background-color: red;
    color: black;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
    margin-bottom: 50px;
}

#body .header div form input#submit:hover {
    background-color: black;
    color: white;
}

#page #footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

#footer {
    background-color: #a3a3a3;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#page #footer div {
    margin: 0 auto;
    width: auto;
    overflow: hidden;
    padding: auto;
    display: flex;
    flex-direction: row;
    height: auto;
}

#page #footer div h1 {
    color: #FFFFFF;
    float: left;
    font-family: audiowide-regular-webfont;
    font-size: 23px;
    font-weight: normal;
    line-height: 23px;
    margin: auto;
    padding: auto;
    text-align: left;
    text-transform: uppercase;
    width: 900px;
}

#page div#footer div div {
    float: left;
    margin: auto;
    overflow: visible;
    padding: auto;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

#page #footer div div a img {
    width: 40px;
}

#body .header div {
    margin: 0 auto;
    max-width: 960px;
    overflow: roll;
}

#wix {
    max-width: 728px;
}

#wix a img {
    width: 100%
}